button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px 17px 32px;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 16px;
    font-size: 1rem;
    background-color: #f5f5f5;
    border-color: transparent;
    color: #222;
    transition: background-color 300ms ease-out
}

.button:hover {
    background-color: #efefef;
}

.button--primary {
    background-color: #2377cb;
    color: #fff;
}

.button--primary:hover {
    background-color: #005da5;
    color: #fff;
}

.button--secondary {
    background-color: #444;
    color: #fff;
}

.button--secondary:hover {
    background-color: #333;
    color: #e7e7e7;
}

.button--warning {
    background-color: #f2a702;
    color: #282522;
}

.button--warning:hover {
    background-color: #db9802;
}

.button--danger {
    background-color: #dc390b;
    color: #fff;
}

.button--danger:hover {
    background-color: #c4340c;
    color: #fdf9f7;
}

.button--outline {
    background-color: transparent;
    border-color: #333;
    border-width: 2px;
    border-style: solid;
    padding: .85rem 1.9rem .9625rem;
}

.button--outline:hover {
    background: #333;
    color: #fff;
}

.button--outline.button--primary {
    border-color: #2377cb;
    color: #2377cb;
}

.button--outline.button--primary:hover {
    background-color: #2377cb;
    color: #fff;
}

.button.button--link {
    background: transparent;
}

.button.button--link:hover {
    color: #1b1b1b;
}

.button.button--link.button--primary {
    color: #2377cb;
}

.button.button--link.button--primary:hover {
    color: #005da5;
}

.button.button--link.button--danger {
    color: #dc390b;
}

.button.button--link.button--danger:hover {
    color: #c4340c;
}

.button--outline.button--dark {
    border-color: #fff;
    color: #fff
}

.button--outline.button--dark:hover {
    background: #fff;
    color: #2f2f2f;
}

.button--outline.button--primary.button--dark {
    border-color: #2377cb;
    color: #2377cb
}

.button--outline.button--primary.button--dark:hover {
    background: #005da5;
    color: #fff;
}
